h1 {
color: grey;
text-align: center;
}

.dropdown {
    text-align: center;
}

.table {
    text-align: center;
    margin-right: 25%;
}

.pagination {
    text-align: center;
    font-size: 10%;
    color: black;
}

.page-item {
    color: black;
    text-align: center;
}

.row {
    height: 45%;
    margin-right: 25%;
    margin-left: 25%;
}


.monSelecte{
    display: flex;
    justify-content: center;
}
.monSelecte select{
    width: 300px;
}